body{
   background-color: white ;
}
.roumanie{
    width: 50px;
    position: absolute;
    left: 96%;
}
.entete{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.entete2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    flex-direction: column-reverse;
    animation: entete2 2s forwards;
}
@keyframes entete2{
    0%{
        transform: translatey(0px);
    }
    100% {
        transform: translatey(-550px)
    }
}
.logofusion{
    width: 5%;
}
.logofusion2{
    width: 5%;
}

h1{
    width: 100%;
    text-align: center;
    font-size: 80px;
}
.banniere{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    overflow: hidden;
    align-content: center;
    justify-content: center
}
.banniere2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    overflow: hidden;
    align-content: center;
    justify-content: center 
}
.banniereimg{
    margin: 220px 0px 0px 0px;
    width: 100%;
}
h2{
    display: flex;
    justify-content: center;
    font-size: 60px;
}
aside{
    width: 20%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.menu{
    padding-inline-start: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    box-shadow: 6px 5px 5px 0px #2ab310bf;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    width: 100%;
}
.categorie{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 85px;
    font-size: 30px;
}
.categorie:hover{
    color: #2ab310bf;
}
.presentation{
    position: relative;
    width: 70%;
    height: 600px;
    margin-left: 22%;
    margin-top: 50px;
}
.texte-presentation{
    text-align: center;
}
.article1{
    padding: 30px;
    margin-bottom: 50px;
    display: flex;
}
.article1P{
    padding: 30px;
    margin-bottom: 50px;
    display: flex;
}

.article2P{
    padding: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row-reverse;
}
.zone-texteP{
    min-width: 65%;
    max-width: 65%;
    padding: 2%;
    box-shadow: -20px 10px 10px 10px #b6f4aabf;
    border-radius: 50px 0px 0px 50px;
}
.zone-texteP:hover{
    background: rgb(235,246,44);
    background: linear-gradient(117deg, rgba(235,246,44,1) 3%, rgba(247,245,58,0.7820378151260504) 48%, rgba(245,243,35,1) 100%);
}
.zone-texte2P{
    padding: 2%;
    box-shadow: 20px 10px 10px 10px #b6f4aabf;
}
.zone-texte2P{
    padding: 2%;
    box-shadow: 20px 10px 10px 10px #b6f4aabf;
    border-radius: 0px 50px 50px 0px;
}
.zone-texte2P:hover{
    background: rgb(235,246,44);
    background: linear-gradient(117deg, rgba(235,246,44,1) 3%, rgba(247,245,58,0.7820378151260504) 48%, rgba(245,243,35,1) 100%);
}
.soustitreP{
    justify-content: flex-start;
    font-size: 25px;
}
.texteP{
    font-size: 20px;
}
.zone-imageP{
    width: 30%;
    border-radius: 0px 50px 50px 0px;
}
.image-articleP{
    width: 30%;
    border-radius: 0px 50px 50px 0px;
}
.image-article2P{
    width: 30%;
    border-radius: 50px 0px 0px 50px;
}
h5{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 1px;
}
footer{
    display: flex;
    flex-direction: column;
    border-top: #b6f4aabf thick double;
    margin-top: 50px;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-inline-start: 0px;
    border-right: black solid 1px;
}
.footer2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-inline-start: 0px;
}
.lienexterne{
    display: flex;
}
.lienfooter{
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    margin-right: 20px;
}
.lienfooter2{
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    margin-left: 20px;

}
.trombi{
    height: 100%;
    min-height: 875px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.trombinoscope{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.membre{
    height: 300px;
    flex-direction: column;
    display: flex;
    width: 30%;
    justify-content: center;
}
.imagetrombi{
    display: flex;
    justify-content: center;
}
h3{
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}
.statut{
    display: flex;
    justify-content: center;
}
.contact{
    box-shadow: 20px 1px 10px 10px #b6f4aabf;
    border-radius: 10px;
}

.formulaireplan{
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 555px;
}
.inscription{
    font-size: 20px;
    padding: 1%;
}
.fichier-inscription{
    display: flex;
    justify-content: center;
}
.formulaire{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 10px;
    width: 50%;
}
.formulaire:hover{
    background: rgb(243,254,56);
    background: linear-gradient(117deg, rgba(243,254,56,1) 3%, rgba(224,247,58,0.7820378151260504) 48%, rgba(223,245,35,1) 100%);
}
.localisation{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.localisationimg{
    padding-right: 10%;
}
.tableau{
    display: flex;
    width: 100%;
    border: solid 1px;
    flex-direction: column;
}
.ligne{
    display: flex;
    height: 100px;
    width: 100%;
}
.case1{
    display: flex;
    width: 45%;
    height: 100px;
    border: solid 1px  #b6f4aabf;
    align-items: center;
    justify-content: center;
}
.case2{
    display: flex;
    width: 20%;
    height: 100px;
    border: solid 1px  #b6f4aabf;
    align-items: center;
    justify-content: center;
}
.case3{
    display: flex;
    width: 35%;
    height: 100px;
    border: solid 1px  #b6f4aabf;
    align-items: center;
    justify-content: center;
}
.fichier{
    margin-left: 50%;
}
.liste-lexique{
    list-style-type: none;
}
.ligne-definition{
    height: 70px;
    display: flex;
    border: solid 1px  #2ab310bf;
    justify-content: center;
}
.case1-definition{
    width: 33%;
    height: 100%;
    display: flex;
    border-right: solid 1px  #b6f4aabf;
    justify-content: center;
    align-items: center;
}
.case3-definition{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texte-statut{
    text-align: center;
}
.titre_statut{
    border-bottom: 3px yellow solid;
    width: 50%;
    text-align: center;
}
.article1H{
    padding: 30px;
    margin-bottom: 50px;
    display: flex;
}
.zone-texteH{
    padding: 2%;
    box-shadow: -9px 10px 10px 10px #b6f4aabf;
    border-radius: 50px 50px 50px 50px;
}
.soustitreH{
    justify-content: flex-start;
    font-size: 25px;
}
.texteH{
    font-size: 20px;
}
.zone-imageH{
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}
.imageH{
    width: 33%;
}